h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li 
                span Alistar las actividades de promotoría, sensibilización y fortalecimiento institucional, teniendo en cuenta las características de la población.