h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center

    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('text', 'Introducción: Importancia de la promotoría ambiental como eje de cambio en la conducta', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Técnicas y metodologías', 'main.html#page/tecnicas/')
                    +navTemaItem('2', 'Planes y programas', 'main.html#page/planes/')
                    +navTemaItem('3', 'Interpretación y planes de acción', 'main.html#page/interpretacion/')