.container#tecnicas

    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 1. Técnicas y metodologías
        pt.txt-deco1.mb-6 En los procesos que involucra activamente a las comunidades, como son los de educación ambiental, implica no solo conocer a la población con la cual se va a interactuar, también requiere escoger una técnica o metodología que sea apropiada para ese territorio y para las necesidades que presenten.
        .hr2
        #11
        .header-ecored
            h2 1.1 Educación ambiental
        p.txt-deco1 La educación ambiental es un proceso que vincula a un educador con un educando, se podría inferir de modo más sencillo, que la educación ambiental es:
        img(src="assets/images/pages/ilustraciones/img3.png", style="max-width: 100%;").img-fluid
        nav.nav-tab-ecored.mt-5.mb-6
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                    strong Principios
                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                    strong Objetivos
                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                    strong Lineamientos
                a#nav-04-tab.nav-item.nav-link(data-toggle='tab', href='#nav-04', role='tab', aria-controls='nav-04', aria-selected='false') 
                    strong Ejes
                a#nav-05-tab.nav-item.nav-link(data-toggle='tab', href='#nav-05', role='tab', aria-controls='nav-05', aria-selected='false') 
                    strong Planteamiento
                a#nav-06-tab.nav-item.nav-link(data-toggle='tab', href='#nav-06', role='tab', aria-controls='nav-06', aria-selected='false') 
                    strong Niveles
                a#nav-07-tab.nav-item.nav-link(data-toggle='tab', href='#nav-07', role='tab', aria-controls='nav-07', aria-selected='false') 
                    strong Metodologías
            #nav-tabContent.tab-content
                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                    .row.align-items-center
                        .col-8
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 Integrador: no solo involucra a todos los participantes del territorio, sino que se integra desde los mismos hábitos culturales que han sido creados de generación en generación, reconociendo la historia de las comunidades y su relación con sus territorios.
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 Transversalidad: cuando se realiza educación ambiental debe partir de este proceso, pues se deben contemplar todas las ciencias que intervienen dentro de la conducta y hábitos de un ser humano, la parte biológica, económica, social, cultural, educativa, el género y las condiciones especiales.
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 Fractalidad: es la capacidad de entender de qué manera “el todo” se refleja cualitativamente en cada una de las partes que lo conforman (Ministerio de Ambiente, Vivienda y Desarrollo Territorial, 2013, p.67).
                        .col-4
                            img(src="assets/images/pages/ilustraciones/img4.png", style="max-width: 100%;").img-fluid
                        .col-12
                            p.txt-deco1 En otras palabras, este principio comprende que las problemáticas que se presentan en un barrio, en una ciudad o en una huerta escolar, pueden ser el reflejo de una problemática mucho más general, por lo cual, cada particularidad también pertenece a un aspecto global, y los pequeños cambios podrían generar cambios a nivel macro.
                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                    .row.align-items-center
                        .col-8
                            p.txt-deco1  Teniendo en cuenta el documento “La educación ambiental, una estrategia pedagógica que contribuye a la solución de la problemática ambiental en Colombia”, dentro de los objetivos más relevantes de la educación ambiental se encuentran:
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 Que los individuos y las comunidades deben comprender la complejidad del ambiente natural y el creado por el ser humano.
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 La interacción de los factores biológicos, físico-químicos, sociales, económicos, políticos y culturales.
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 La creación de conocimientos, valores, actitudes, destrezas y habilidades que les permita a las personas participar de manera responsable, ética, y afectiva en la previsión de las problemáticas.
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 Desarrollar el sentido de responsabilidad y solidaridad entre diferentes regiones, como base de un nuevo orden nacional para garantizar la conservación, preservación y el mejoramiento del ambiente. (Rengifo, B., Quitiaquez, S. y Mora, F., 2012, p.2).
                        .col-4
                            img(src="assets/images/pages/ilustraciones/img5.png", style="max-width: 100%;").img-fluid
                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                    .row.align-items-center
                        .col-8
                            p.txt-deco1 Rengifo, et al., 2012, establecen que se pueden inferir tres lineamientos básicos en la educación ambiental:
                            ol
                                li.txt-deco1 El aprender sobre el ambiente.
                                li.txt-deco1 Aprender en el ambiente.
                                li.txt-deco1 Aprender para el ambiente (p.5).
                            p.txt-deco1 La educación ambiental es una corriente internacional de pensamiento y acción, su meta es procurar cambios individuales y sociales que provoquen la mejora ambiental y un desarrollo sostenible, proporcionando la información y los conocimientos necesarios en la población colombiana para que ésta adquiera conciencia de los problemas del ambiente, creando en ella predisposición, motivación, sentido de responsabilidad, pertenencia y compromiso para trabajar individual y colectivamente en la búsqueda de soluciones (Rengifo, et al., 2012, p. 9).
                        .col-4
                            img(src="assets/images/pages/ilustraciones/img6.png", style="max-width: 100%;").img-fluid
                #nav-04.tab-pane.fade(role='tabpanel', aria-labelledby='nav-04-tab')
                    .row.align-items-center
                        .col-8
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 #[b Equidad:] se divide en intra e intercultural, en la que se hace relación a la libertad cultural, la diversidad cultural, religiosa y étnica, la cooperación, la identidad cultural, el sentido de pertenencia, el valor personal en un contexto social y la educación intercultural.
                            .list.align-items-star
                                .list__item
                                    .list__item__icon
                                        img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                .list__txt
                                    p.txt-deco1 #[b La participación en educación:] se entiende como un acto democrático y un proceso de autoaprendizaje individual y colectivo que transcurre en el propio proceso de toma de decisiones y que implica un compromiso activo (Rengifo, et al., 2012, p. 10).
                        .col-4
                            img(src="assets/images/pages/ilustraciones/img7.png", style="max-width: 100%;").img-fluid
                #nav-05.tab-pane.fade(role='tabpanel', aria-labelledby='nav-05-tab')
                    .row.align-items-center
                        .col-8
                            p.txt-deco1 Para conocer la integración de la educación ambiental en un ámbito pedagógico, te invitamos a ver el vídeo, el cual  involucra las características de acuerdo a Pomachagua (2010):
                            ol
                                li.txt-deco1 Una filosofía sustentada en la “Estabilidad del Ecosistema Global”.
                                li.txt-deco1 La buena calidad de la vida y del medio ambiente, donde se desarrolla ésta como una preocupación central.
                                li.txt-deco1 La protección, la conservación y el mejoramiento del medio ambiente como una meta.
                                li.txt-deco1 Los problemas y riesgos ambientales como el campo de atención.
                                li.txt-deco1 La relación y la interdependencia del sistema ecológico como un enfoque sistémico.
                                li.txt-deco1 El ejercicio de la participación ciudadana y la toma de decisiones como el instrumento metodológico básico.
                            p.txt-deco1 A pesar de lo complejo que puede llegar a ser articular la pedagogía y el medio ambiente, con estas características se puede lograr formar individuos y sociedades críticas, creativas e integrales.
                        .col-4
                            img(src="assets/images/pages/ilustraciones/img8.png", style="max-width: 100%;").img-fluid
                #nav-06.tab-pane.fade(role='tabpanel', aria-labelledby='nav-06-tab')
                    .row
                        .col-12
                            p.txt-deco1 Aunque dependiendo del autor se pueden encontrar diferentes jerarquías o niveles relacionados con la educación ambiental, los más usuales son los siguientes cuatro (4) niveles, de acuerdo a Pomachagua (2010):
                            p.bg-color1 #[b Primer nivel - Fundamentos ecológicos:] el propósito de este nivel de instrucción es dar al docente/estudiante informaciones sobre los sistemas terrestres de soporte vital, incluye la instrucción sobre ecología básica, ciencia de los sistemas de la Tierra, geología, meteorología, geografía física, botánica, biología, química, física, etc. (p.9).
                            p.bg-color1 #[b Segundo nivel - Concienciación conceptual:] de cómo las acciones individuales y de grupo pueden influenciar la relación entre calidad de vida humana y la condición del ambiente (p.9).
                            p.bg-color1 #[b Tercer nivel - la investigación y evaluación de problemas:] esto implica aprender a investigar y evaluar problemas ambientales. Debido a que hay demasiados casos de personas que han interpretado de forma incorrecta o sin exactitud asuntos ambientales, muchas personas se encuentran confundidas acerca de cuál es el comportamiento más responsable ambientalmente (p.10).
                            p.bg-color1 #[b Cuarto nivel - La capacidad de acción:] este componente enfatiza en las habilidades necesarias para participar productivamente en la solución de problemas ambientales presentes y la prevención de problemas ambientales futuros (p.10).
                        .col-12.text-center
                            img(src="assets/images/pages/ilustraciones/img9.png", style="max-width: 100%;").img-fluid
                #nav-07.tab-pane.fade(role='tabpanel', aria-labelledby='nav-07-tab')
                    .row
                        .col-12
                            img(src="assets/images/pages/ilustraciones/img10.png", style="max-width: 100%;").img-fluid
                        .col-12.mt-5
                            p.txt-deco1 #[b La investigación Acción – participativa (IAP)]
                            p.txt-deco1 Esta metodología afirma que los conocimientos no se transmiten sino que se construyen. Por lo tanto, las personas deben investigar sus propias representaciones, las de su medio social, familiar y las de su entorno natural. 
                            p.txt-deco1 Este método tiene su fundamentación teórica en los métodos educativos de Paulo Freire. Se propone romper la separación sujeto – objeto, investigador-investigado, salvar la distancia entre teoría e investigación y evitar la fractura entre teoría y práctica: no hay que conformarse y explicar los problemas sociales, sino que también hay que transformarlos a través de la acción investigativa.
                            p.txt-deco1 La IAP coloca al sujeto como productor de conocimientos en la reflexión de sí mismo y de su realidad, para generar cambios conscientes en el individuo y en su contexto social (p.11).
                            p.txt-deco1 #[b Los talleres]
                            p.txt-deco1 Es una modalidad de trabajo que se plantea como alternativa educativa, especialmente cuando se reconoce que la base del desarrollo humano es la participación, la creatividad y la autonomía. Esta estrategia se centra en las personas participantes, sus experiencias, conocimientos, dudas y valores, tanto en el campo personal como en el de la comunidad o equipo. El objetivo más importante es lograr la apropiación de las reflexiones, los conceptos y las metodologías, para que puedan ser aplicados a la vida real en la solución de la problemática ambiental (p.12).
                            p.txt-deco1 #[b Trabajo de campo]
                            p.txt-deco1 El cual proporciona al estudiante participante una experiencia directa de su medio ambiente, le ayuda a entender las relaciones que se producen en la naturaleza, los fenómenos naturales y los principios ambientales. Como estrategia educativa expresa la necesidad del ser humano de estar en contacto con la naturaleza porque aporta situaciones para la convivencia y la comprensión del medio ambiente. Su labor se basa en el contacto con la naturaleza, en el conocimiento, favorece el crecimiento humano, genera responsabilidad y respeto dentro del equipo; se manejan responsabilidades individuales y colectivas, generando un diálogo, la cercanía personal, el conocimiento real de la naturaleza a través de la práctica, mostrando y contagiando su sensibilidad y dedicación al medio ambiente (p.6).
                            p.txt-deco1 #[b Las campañas ecológicas]
                            p.txt-deco1 Las cuales se programan para generar actitudes, hábitos y valores. Es necesario plantear claramente estas campañas, sus objetivos, no recargarlas de actividades rápidas y pasajeras y programar varias consecutivas en el año. El equipo encargado de las campañas ecológicas está conformado por educadores, educandos, participantes, comunidad, entre otros (p.12).
                            p.txt-deco1 #[b Grupos ecológicos]
                            p.txt-deco1 Otra estrategia son los grupos ecológicos, que son un equipo de trabajo formado por personas comprometidas con el medio ambiente. Surge de grupos comunitarios como acción comunal, colegios, instituciones; se caracteriza por desarrollar acciones y reflexiones acerca del entorno y del ambiente, donde se actúa con acciones que pueden estar enmarcadas en proyectos, campañas, salidas de campo, actividades lúdicas de reflexión sobre el ambiente, entre otros (p.12).
        .hr2
        #12
        .header-ecored
            h2 1.2 Promotoría ambiental
        .row
            .col-12.text-center
                img(src="assets/images/pages/ilustraciones/img11.png", style="max-width: 100%;").img-fluid
        p.txt-deco1.mt-5 De acuerdo con Maldonado, T. (2013), en su artículo “Promotoría ambiental”, describe este término como:
        p.txt-deco1 un instrumento estratégico para el desarrollo de una comunidad, que está orientado a provocar un cambio de actitud y a vencer las resistencias de la población hacia ese cambio. La base principal de las actividades de promoción es la participación organizada de la población, a partir de su cultura y sus condiciones socioeconómicas. La población es el sujeto y el protagonista de su propio crecimiento. La base de la promotoría es el trabajo organizado en torno a un objetivo común, apoyado en un proceso educativo que tiende al cambio de actitudes del individuo, la familia y el grupo social. Está siempre vinculada a un programa que persigue metas y objetivos establecidos, de acuerdo a las necesidades del contexto físico, ecológico, social, político, económico, histórico y cultural de la comunidad y la idiosincrasia de los individuos (p.4).
        .row.mt-6
            .col-11.bg-color2
                p.mb-0 #[b 1.2.1 ¿Qué es un promotor ambiental?]
            .col-1
                img(src="assets/images/pages/ilustraciones/img12.png", style="position: absolute; right: 18px; top: -17px; max-width: 97px;").img-fluid
        p.mt-5.txt-deco1 De acuerdo con el Ministerio de Ambiente y Desarrollo Sostenible (s.f), el promotor ambiental es un líder con gran sensibilidad y responsabilidad social frente al desarrollo sostenible de su localidad y su región. Es una persona cuyo interés por la comunidad y por la solución de sus problemas sociales lo han constituido en un sujeto respetado y reconocido por la localidad en la que habita. Se destaca por su vocación de servicio, por su saber y conocimiento espontáneo, que le permiten dar respuestas y proponer fórmulas de encuentro para conciliar los intereses de distintos actores sociales.
        .row.mt-6
            .col-11.bg-color2
                p.mb-0 #[b 1.2.2 ¿Cuáles son sus características?]
            .col-1
                img(src="assets/images/pages/ilustraciones/img12.png", style="position: absolute; right: 18px; top: -17px; max-width: 97px;").img-fluid
        .list.align-items-star.mt-5
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Se fundamenta en la vida de las comunidades.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Los proyectos que se generen son propuestos y planificados por la población.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Las metodologías propuestas son acordes a las necesidades de la población.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Las actividades se realizan en la comunidad y con la población involucrada.
        .row.mt-6
            .col-11.bg-color2
                p.mb-0 #[b 1.2.3 ¿Cuáles son las funciones de un promotor ambiental?]
            .col-1
                img(src="assets/images/pages/ilustraciones/img12.png", style="position: absolute; right: 18px; top: -17px; max-width: 97px;").img-fluid
        p.mt-5.txt-deco1 Para entidades como la Corporación Autónoma del Tolima (CORTOLIMA) (2009), algunas de las funciones de un promotor ambiental son:
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Desarrollar de forma permanente procesos de educación y capacitación comunitaria.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Promover la articulación de las organizaciones sociales a los procesos de planificación, gestión y control del desarrollo socio-ambiental municipal.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Promover la realización y actualización de diagnósticos participativos para detectar los factores que originan los problemas socio-ambientales y planificar las acciones necesarias para su intervención.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Desarrollar el monitoreo socio-ambiental, a través del seguimiento al cumplimiento de la normatividad vigente y de la gestión institucional que se desarrolle en la comunidad.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Mediar en los conflictos socio-ambientales.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Exponer y difundir las Políticas nacionales.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Estimular el fortalecimiento de la capacidad organizativa de la comunidad.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Recepcionar las demandas y denuncias socio-ambientales de la comunidad.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Incentivar el desarrollo de proyectos socio-ambientales, gestionados a partir de las organizaciones comunitarias.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Promover la participación de la mujer en los procesos de planificación y la gestión socio-ambiental comunitaria.
        .row.mt-6
            .col-11.bg-color2
                p.mb-0 #[b 1.2.4 ¿Cuáles podrían ser los ejes de investigación de la promotoría ambiental?]
            .col-1
                img(src="assets/images/pages/ilustraciones/img12.png", style="position: absolute; right: 18px; top: -17px; max-width: 97px;").img-fluid
        p.txt-deco1.mt-5 Aunque existe una gran variedad de temáticas para tratar dentro de las comunidades y para llevar a cabo diagnósticos y planes de acción, de acuerdo con Maldonado, T. (2013), en su artículo “Promotoría ambiental”, algunos de los temas más abordados son:
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Estilos de vida y modelos de desarrollo.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Impacto ambiental originado por prácticas sociales.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Procesos productivos y uso de los recursos.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Manejo de residuos.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Hábitos de consumo.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Hábitos de convivencia respecto al ambiente.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Niveles de responsabilidad y posibilidad de acción.
        .list.align-items-star.mb-6
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Manejo del recurso hídrico.
        .hr2
        #13
        .header-ecored
            h2 1.3 Formas organizativas
        img(src="assets/images/pages/ilustraciones/img13.png", style="max-width: 100%;").img-fluid
        p.txt-deco1.mt-4 Para mencionar las formas organizativas, se debe diferenciar la existencia de las mismas en dos ámbitos: comunidad y empresas.
        .header-arrow
            h3 1.3.1 Organizaciones comunitarias
        img(src="assets/images/pages/ilustraciones/img14.png", style="max-width: 100%;").img-fluid.img-a
        p.txt-deco1 Antes de hablar de organizaciones comunitarias, se debe definir el concepto de comunidad; este, como espacio en el que un grupo humano desarrolla su vida y las interacciones que en esta intervienen, por tanto, el concepto de comunidad puede referirse a un sistema de relaciones psicosociales, a un agrupamiento humano, al espacio geográfico o al uso de la lengua según determinados patrones o hábitos culturales (Causse, 2009, p.5). 
        p.txt-deco1 De acuerdo con la Organización de las Naciones Unidas para la Agricultura y la Alimentación (FAO) (2008), en su documento “Organización comunitaria”, específica que la organización comunitaria se da cuando un grupo de personas se unen para ver los problemas que les afectan en su comunidad y le buscan soluciones. Los problemas pueden ser de carácter social, cultural, económico, político y productivo. La organización es la estructura que se da a un grupo de personas para funcionar de acuerdo a un método y a un objetivo común. Cuando varias personas deciden organizarse, lo hacen porque tienen intereses o problemas comunes que les exigen su unión para poder enfrentarlos (p.10).
        p.txt-deco1 #[b Importancia de las organizaciones comunitarias.]
        p.txt-deco1 La organización comunitaria es importante porque es ahí donde se da a conocer nuestros valores humanos y talentos individuales para resolver de forma efectiva los problemas sociales, económicos y políticos de la comunidad (FAO, 2008, p.11).
        .header-arrow
            h3 1.3.2 Formas organizativas empresariales
        img(src="assets/images/pages/ilustraciones/img15.png", style="max-width: 100%;").img-fluid.img-a
        p.txt-deco1 Existen múltiples explicaciones de las formas organizativas en las empresas, sin embargo, a manera general se puede contemplar que en una empresa existen como mínimo las siguientes partes fundamentales: el núcleo de operaciones, el ápice estratégico, la línea media, la tecnoestructura y el staff de apoyo (Gonzalez, M, y Codagnone, T, 2010, p.2).
        p.txt-deco1 Aunque pueden ser nombrados de otras formas, estos cinco procesos son los que normalmente conforman una estructura empresarial.
        .header-arrow
            h3 1.3.3 Responsabilidad social
        img(src="assets/images/pages/ilustraciones/img16.png", style="max-width: 100%;").img-fluid.img-a
        p.txt-deco1 La responsabilidad social es un atributo que puede ser dado a nivel comunitario o empresarial. Te invitamos a ver el siguiente vídeo, donde podrás ver diferentes definiciones y una contextualización más amplia desde la perspectiva empresarial.
        .row.justify-content-center.my-5
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ko__W4P_zZ0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.txt-deco1 De acuerdo a Barón (2014), la Responsabilidad Social Empresarial (RSE) surge en los años 20´s, pero toma fuerza en los 50´s y 60´s. Se inicia por la idea fundamental que si las empresas usan recursos naturales y sociales, el solo hecho de su uso genera un deber ético, por lo tanto, de alguna manera este uso se devolverá a la sociedad. Las empresas deben ser responsables, por consiguiente, deben ir más allá de la generación de trabajo y riqueza para los empresarios; deben velar por el bienestar de la comunidad donde se encuentran realizando sus actividades. 
        p.txt-deco1 Otra definición se puede encontrar en la superintendencia de industria y comercio (2018) en su documento “ABD de La Responsabilidad Social (RS)”, el cual indica que la RS busca el actuar desde una perspectiva consciente de la actividad económica y de los efectos positivos y negativos que se causa tanto interna como externamente en el entorno. El desarrollo de la RS incluye la planeación de estrategias que apuntan al crecimiento de una empresa/pyme/organización, pero también al desarrollo de iniciativas con el ánimo de contribuir al desarrollo sostenible.
        h3.mt-5 1.3.3.1 Categorías de aplicación de la responsabilidad social
        p.txt-deco1 Para facilitar el desarrollo de las estrategias de responsabilidad social, se deben contemplar las categorías en las cuales estas se desarrollan:
        .row.justify-content-around.mt-4
            .col-12.col-lg-4.bg-color3
                img(src="assets/images/pages/ilustraciones/img17.png", style="max-width: 100%;").img-fluid.img-a1
                p.text-center.text-white.mt-4 #[b Categoría 1]
                p.text-white #[b Desarrollo económico:] desde la perspectiva de Responsabilidad Social, se identifica en cómo está distribuido el capital en sus grupos de interés. Por ejemplo, nómina, pagos tributarios, gastos en infraestructura y comunidad, e inversiones en tecnologías o mejoras que beneficien el medio ambiente (Superintendencia de Industria y Comercio, 2018, p. 6).
            .col-12.col-lg-4.bg-color3.mt-4.mt-lg-0
                img(src="assets/images/pages/ilustraciones/img18.png", style="max-width: 100%;").img-fluid.img-a1
                p.text-center.text-white.mt-4 #[b Categoría 2]
                p.text-white #[b Desarrollo social:] es el desarrollo del capital humano y social. Implica evolución o cambio positivo por medio de actividades que tienen como fin contribuir al mejoramiento de la vida (Superintendencia de Industria y Comercio, 2018, p. 7).
        .row.justify-content-around.mt-4.mb-6
            .col-12.col-lg-4.bg-color3
                img(src="assets/images/pages/ilustraciones/img19.png", style="max-width: 100%;").img-fluid.img-a1
                p.text-center.text-white.mt-4 #[b Categoría 3]
                p.text-white #[b Desarrollo ambiental:] es la forma en que su organización o actividad intenta prevenir, mitigar y compensar el impacto directo o indirecto que su actividad genera en el medio ambiente (Superintendencia de Industria y Comercio, 2018, p. 8).
        .hr2
        #14
        .header-ecored
            h2 1.4 Técnicas y habilidades comunitarias
        img(src="assets/images/pages/ilustraciones/img20.png", style="max-width: 100%;").img-fluid.img-a
        p.txt-deco1 El trabajo con comunidad implica el uso de habilidades para lograr, no solo trabajar con las personas, sino también relacionarse con ese territorio y así lograr que el diagnóstico de las situaciones ambientales sea el reflejo más verídico de las condiciones actuales de esa organización u empresa.
        .header-arrow
            h3 1.4.1 Identificación de contexto y análisis del entorno
        img(src="assets/images/pages/ilustraciones/img21.png", style="max-width: 100%;").img-fluid.img-a
        p.txt-deco1 Este es el punto de partida, para el trabajo con comunidad se debe analizar e identificar tres factores elementales en territorio en el cual se va a trabajar:
        p.text-center.my-5 #[span.txt-deco3 Procesos históricos] #[span.txt-deco3.mx-4 Actores] #[span.txt-deco3 La realidad del escenario local]
        p.txt-deco1 Este análisis, de acuerdo a Parra y Vargas (2017), se realiza con el fin de asegurar que no se repliquen experiencias que ya se hayan probado en el pasado y que las acciones a adelantar no vayan a desconocer las realidades de los actores involucrados, ni las características y particularidades del entorno. Se precisa, entonces, reconocer que los espacios locales están inmersos dentro de realidades más amplias que tienen incidencia en su interior (p.166).
        p.txt-deco1 Para definir la palabra territorio, que es muy usada en promotoría y educación ambiental, se puede inferir que existen tres tipologías de territorio:
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 “Territorio natural”, que refiere a un recorte que solo reconoce los elementos de la naturaleza, sin que medie intervención humana.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 “Territorio equipado o intervenido”, que refiere a uno en el cual el hombre ya ha instalado sistemas, por ejemplo, de transporte, infraestructuras y actividades productivas extractivas.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 “Territorio organizado”, que implica un recorte que reconoce la existencia de actividades de mayor complejidad, por ejemplo, sistemas de asentamientos humanos y sus infraestructuras, pero que fundamentalmente refiere a la existencia de una comunidad que se reconoce y que tiene como auto referencia primaria el propio territorio y que está regulada mediante un dispositivo político-administrativo que define las competencias de ese territorio, su ubicación y el papel que tiene en el ordenamiento jurídico nacional, es decir, un territorio organizado tiene una estructura de administración y, en algunos casos, también de gobierno. Estos territorios pasan a ser sujetos de intervenciones promotoras del desarrollo (Boisier, citado en Parra y Vargas, 2017, p.166).
        .header-arrow
            h3 1.4.2 Formulación de un plan de acción participativo
        img(src="assets/images/pages/ilustraciones/img22.png", style="max-width: 100%;").img-fluid.img-a
        p.txt-deco1 Teniendo en cuenta los objetivos y necesidades comunes que pueden presentarse en esa comunidad o población, se inicia el proceso de planeación de la acción participativa, en donde se incentive toda la cooperación, participación e integración de los diferentes actores que han sido identificados. Además, incluye revisar cómo será la interrelación con otros actores involucrados, como empresas, actores locales, entidades, comunidades y grupos diferenciales.
        p.txt-deco1 De acuerdo con Parra y Vargas (2017), en este punto, el trabajo con comunidades supone el establecimiento de canales de comunicación para favorecer la socialización, el intercambio social, la interacción, el fomento de confianza, solidaridad y colaboración entre los actores intervinientes, en pro de favorecer acercamientos que fomenten inclusión y cohesión social (p.167).
        p.txt-deco1 Dentro de las acciones que van encaminadas al cumplimiento de esta habilidad comunitaria, se encuentra:
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Diseño de planes de comunicación: su objetivo es mantener canales de comunicación con los actores involucrados.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Capacitación en mecanismos de participación, derechos y ciudadanía: el empoderamiento de las personas que lideren esa agrupación o población es elemental para que sean ejes de articulación entre las partes interesadas y favorezca el diagnóstico.
        .list.align-items-star
            .list__item
                .list__item__icon
                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
            .list__txt
                p.txt-deco1 Apoyo y promoción de actores: siempre impulsar las acciones de participación.
        .header-arrow
            h3 1.4.3 Creación de redes de cooperación
        img(src="assets/images/pages/ilustraciones/img23.png", style="max-width: 100%;").img-fluid.img-a
        p.txt-deco1 La búsqueda de soluciones debe partir de la identificación de redes de cooperación existentes en esa comunidad, con el fin de llegar a la generación de capacidades de transformación de las condiciones socioeconómicas para reaccionar ante los desafíos externos y para promover aprendizaje social y la introducción de formas específicas de regulación social a nivel social y comunitario.
        p.txt-deco1 De acuerdo con Parra y Vargas (2017), la experiencia del trabajo con comunidades para el desarrollo local, estará fundamentada en la identificación y promoción de escenarios para el crecimiento de la capacidad productiva y organizativa local, a través de la conformación de redes de cooperación y el fortalecimiento y acompañamiento de las redes ya existentes. Por otra parte, deben ponerse en marcha acciones de gestión con autoridades para la apertura de opciones para el acceso al crédito, facilitación de servicios tecnológicos u otros que propendan por la solución de problemas comunes a los emprendedores locales, integrando activamente a la empresa privada (p.170).
        .header-arrow
            h3 1.4.4 Lograr la continuidad y permanencia del proceso
        img(src="assets/images/pages/ilustraciones/img24.png", style="max-width: 100%;").img-fluid.img-a
        p.txt-deco1 Es importante resaltar la necesidad de que los procesos realizados con comunidades sean continuos y permanentes en el tiempo, como lo indica Parra y Vargas (2017):
        p.txt-deco1 Desde la particularidad e integración de los actores, con miras al logro de los objetivos compartidos y mediante la disposición de recursos en el corto, mediano y largo plazo, el trabajo con comunidades debe partir de una metodología de planeación estratégica que permita la construcción de acciones colectivas frente a metas de largo plazo, sin perder de vista el involucramiento de las comunidades y la incorporación de sus opiniones en el análisis de la realidad.
        p.txt-deco1 El compromiso de los representantes del Estado, empresa y sociedad es vital para alcanzar la construcción de una interpretación compartida de los retos y de las oportunidades para el desarrollo y la cohesión social desde el entorno local; los escenarios de encuentro cotidiano son una alternativa viable para la movilización y dinamización de acciones desde los actores, pues, involucrándose a través de la asignación de responsabilidades y compromisos, se puede construir el engranaje necesario para dar respuesta a diversas problemáticas propias del territorio desde lo local y a identificar los recursos que deban ser requeridos desde el exterior (p.171).