.container#planes

    .jumbotron.bg-white.shadow.mt-6
        .header-ecored.mt-0
            h1 2. Planes y programas
        #21
        .header-ecored.mt-6
            h2 2.1 Normativa
        .row.align-items-center
            .col-4
                img(src="assets/images/pages/ilustraciones/img25.png").img-fluid
            .col-8
                p.txt-deco1 De acuerdo con la Corporación Autónoma Regional del Valle del Cauca (CVC), en su Plan de gestión ambiental regional 2015 – 2036, la planificación ambiental en Colombia está definida constitucionalmente en el artículo 80 de la Constitución Política de Colombia, el cual establece que “el Estado planificará el manejo y aprovechamiento de los recursos naturales, para garantizar su desarrollo sostenible, su conservación, restauración o sustitución”. En desarrollo de las disposiciones Constitucionales, la planificación del desarrollo sostenible en general se ha regulado por tres leyes fundamentales: la Ley 99 de 1993, mediante la cual se define el marco de la planificación ambiental en el país; la Ley 152 de 1994, mediante la cual se establece el marco para la planificación del desarrollo; y la Ley 388 de 1997, mediante la cual se regula la planificación del desarrollo territorial. 
                p.txt-deco1 Para la instrumentalización de la planificación ambiental, conforme a lo establecido en la Ley 99 de 1993, el Gobierno Nacional, a través del ahora denominado Ministerio de Ambiente y Desarrollo Sostenible, se encuentra el Decreto 1076 de mayo 26 de 2015, en el cual se compilan la norma que establece los instrumentos, criterios y elementos para la planificación ambiental en el país.
                p.txt-deco1 De acuerdo con el Establecimiento Público Ambiental (EPA) de la ciudad de Cartagena, el marco normativo de la educación ambiental está basado en:
        .row.justify-content-center.my-5
            .col-12.col-lg-10
                .timeline
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light.text-left Constitución Política de 1991
                            p.text-left Establece el derecho a gozar de un ambiente sano y el deber de proteger la diversidad e integridad del ambiente (artículo 79), buscando formar al ciudadano para la protección del ambiente (artículo 67).
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 1991
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light Ley 99 de 1993
                            p Por la cual se crea el Ministerio de Medio Ambiente y se organiza el Sistema Nacional Ambiental (SINA).
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 1993
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light.text-left Ley 115 de 1994
                            p.text-left Se expide la Ley General de Educación. En su artículo 23 establece la educación ambiental como un área obligatoria y fundamental, necesaria para ofrecer en el currículo como parte del Proyecto Educativo Institucional (PEI), así como uno de los fines de la educación, tendiente a la adquisición de una cultura ecológica basada en la formación de una conciencia para la conservación, protección y mejoramiento del medio ambiente, de la calidad de vida y del uso racional de los recursos naturales, entre otros.
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 1994
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light Decreto 1860 de 1994
                            p Por el cual se reglamenta la Ley 115, incluyendo el PEI y los PRAES como ejes transversales de la Educación Formal. 
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 1994
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light.text-left Decreto 1743 de 1994
                            p.text-left Institucionaliza el PEI en la Educación Formal, en todos los niveles.
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 1994
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light Plan de Desarrollo Ambiental de 1997
                            p Denominado “El salto social hacia el desarrollo humano sostenible”. 
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 1997
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light.text-left Decreto 309 del 2000
                            p.text-left Reglamenta la investigación científica sobre diversidad biológica.
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 2000
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light Política Nacional de Investigación Ambiental, 2001
                            p Busca fortalecer la capacidad nacional y regional, que impulse la generación y utilización oportuna de conocimientos relevantes para el desarrollo sostenible. 
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 2001
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light.text-left Política Nacional de Educación Ambiental del 2002
                            p.text-left Orienta los esfuerzos de las diferentes organizaciones y entidades, estableciendo los principios, estrategias y retos de la Educación Ambiental.
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 2002
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light Ley 1549 del 2012
                            p Fortalece la institucionalización de la política nacional de educación ambiental y su incorporación efectiva en el desarrollo territorial.
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 2012
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light.text-left Decreto 1075 del 2015
                            p.text-left Se expide el Decreto Único Reglamentario del sector educativo.
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 2015
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light Acuerdo 407 de Julio-08 de 2015
                            p Se establece un acuerdo marco entre el MEN y MADS. Alianza Nacional por “La formación de una ciudadanía responsable: un país más educado y una cultura ambiental sostenible para Colombia”.
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 2015
                    .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                        .col-10.col-md-5.order-3.order-md-1.timeline-content
                            h3.text-light.text-left Ley 1753 del 2015
                            p.text-left Por la cual se establece el Plan de Desarrollo Nacional 2014 – 2018 “Todos por un Nuevo País, Paz, Equidad y Educación”, el cual dispone, en su capítulo VI, de directrices en materia de sostenibilidad ambiental.
                        .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                            img.img-fluid(src='assets/images/pages/ilustraciones/img26.png')
                        .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                            time 2015
        p.mt-6.txt-deco2 #[b Política Nacional de Educación Ambiental]
        .row.align-items-start
            .col-4.text-center
                img(src="assets/images/pages/ilustraciones/img27.png").img-fluid
            .col-8
                p.txt-deco1 De acuerdo con el entonces Ministerio del Medio Ambiente (MMA) y el Ministerio de Educación Nacional (MEN), en la Política Nacional de Educación Ambiental (SINA) se establece que desde 1991, Colombia ha venido desarrollando una propuesta nacional de Educación Ambiental, cuyos esfuerzos fundamentales han estado orientados a la inclusión de la temática, tanto en el sector ambiental como en el sector educativo específicamente. En el sector educativo, la educación ambiental se ha venido incluyendo como una de las estrategias importantes de las políticas, en el marco de la reforma educativa nacional y desde los conceptos de autonomía y descentralización. En el contexto anterior, se han logrado avances significativos en lo que tiene que ver con el proceso de institucionalización, tanto a nivel nacional como a nivel regional o local.
        p.txt-deco1 La política nacional de educación ambiental nace en el mandato constitucional de 1995 dentro del Plan Nacional de Desarrollo (PND) “Salto social”; allí se estableció que debe existir una política que ubique el desarrollo sostenible como una de las metas del desarrollo del país, y la educación ambiental como una de las estrategias primordiales para disminuir el deterioro del ambiente y contribuir al alcance de las metas del mencionado desarrollo. 
        p.txt-deco1 En 1996, resultado  del proceso de institucionalización de la educación ambiental impulsado por el programa, el Plan Decenal de Educación (1996 - 2005), en su Proyección Número 11, incorpora la educación ambiental como una perspectiva necesaria para contribuir en el mejoramiento de la calidad de vida del país.
        p.txt-deco1.mb-5 La política nacional de educación ambiental se estructura mediante las siguientes temáticas:
        .row.align-items-end
            .col-12.col-lg-3
                p.bg-color1 #[b 1. Presentación:] se establecen las instituciones que se hicieron presentes en la elaboración del documento y las fechas correspondientes.
            .col-12.col-lg-3
                p.bg-color1 #[b 2. Antecedentes y justificación:] se hace un desarrollo de las políticas a nivel nacional e internacional para poder desarrollar un diagnóstico de la situación normativa del país.
            .col-12.col-lg-3
                p.bg-color1 #[b 3. Objetivos:] se establecen los diferentes objetivos, tanto generales como específicos, para el desarrollo ambiental en el país.
            .col-12.col-lg-3
                p.bg-color1 #[b 4. Lineamientos conceptuales básicos y visión:] se identifica la situación y la educación ambiental del país, se tienen en cuenta diferentes actores como las escuelas, las universidades, los investigadores y el Sistema Nacional Ambiental (SINA).
        .row.my-5
            .col-12.text-center
                img(src="assets/images/pages/ilustraciones/img28.png", style="max-width: 100%;").img-fluid
        .row.align-items-start.mb-5
            .col-12.col-lg-3
                p.bg-color1 #[b 5. Principios que orientan la educación ambiental:] se tienen en cuenta los individuos, sociedades, culturas y entornos a los cuales debe llegar la educación ambiental en el país y se establecen los principios para orientarla.
            .col-12.col-lg-3
                p.bg-color1 #[b 6. Estrategias y retos:] se establecen las relaciones interinstitucionales con el fin de llevar a cabo las políticas planteadas, aquí se tienen en cuenta las relaciones, desde el individuo en su participación ciudadana, hasta los ministerios con las políticas nacionales.
            .col-12.col-lg-3
                p.bg-color1 #[b 7. Financiación:] se establecen las estrategias económicas para llevar a cabo las políticas con instituciones locales, regionales, nacionales e internacionales.
            .col-12.col-lg-3
                p.bg-color1 #[b 8. Recomendaciones:] todas las acciones necesarias para poder cumplir con las políticas establecidas.
        p.txt-deco1 Para conocer e identificar los componentes de la Política Nacional de Educación Ambiental (PNEA) te invitamos a conocerla:
        .imgTopBar.mt-5
            .row.align-items-center
                .col-1.text-right
                    img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 28px;")
                .col-8.mb-3.mb-md-0
                    p.p1.mb-0 Ministerio del Medio Ambiente (MMA) y Ministerio de Educación Nacional (MEN), 2002.
                    p.mb-0 Política Nacional de Educación Ambiental SINA.
                .col-auto.imgTopBarButton.shadow
                    a(href="media/documentos/Anexo1.pdf", target="_blank").imgTopBar_link 
                        .row 
                            .col-auto                   
                                p.d-inline(style="margin-right:10px") Ver PDF
        p.txt-deco1.mt-5 Lo invitamos a mirar el siguiente video que aborda de forma resumida la trazabilidad de la educación ambiental en Colombia.
        .row.justify-content-center.mt-5.mb-6
            .col-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/X5lLbOHw2Rw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .hr2
        #22
        .header-ecored.mt-6
            h2 2.2 Planes, programas y proyectos institucionales
        p.txt-deco1 Los planes, programas y proyectos institucionales son herramientas de navegación que se utilizan en el cumplimiento de objetivos ambientales específicos dentro de la institución, generalmente distribuidos por componente ambiental o por impacto ambiental.
        .row.justify-content-end
            .col-11
                .header-ecored
                    h3 2.2.1 PGAR
                img(src="assets/images/pages/ilustraciones/img29.png", style="max-width: 100%;").img-fluid.img-a
                p.txt-deco1 De acuerdo con el Decreto 1076 (2015), el Plan de Gestión Ambiental Regional es el instrumento de planificación estratégico de largo plazo de las Corporaciones Autónomas Regionales para el área de su jurisdicción, que permite orientar su gestión e integrar las acciones de todos los actores regionales, con el fin de lograr que el proceso de desarrollo avance hacia la sostenibilidad de las regiones. 
                p.txt-deco1 El Plan de Gestión Ambiental Regional tendrá una vigencia de mínimo 10 años.
                p.txt-deco1 Las Corporaciones Autónomas Regionales tienen la responsabilidad de la formulación del PGAR, en coordinación con las entidades territoriales de su jurisdicción y los representantes de los diferentes sectores sociales y económicos de la región. El PGAR deberá ser aprobado por el Consejo Directivo de la respectiva Corporación.
                p.txt-deco1 La Política nacional de educación ambiental se compone de:
                .list.align-items-start.pl-4
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt
                        p.mb-0.mt-2 #[b Antecedentes y justificación:] establece el contexto por el cual es necesario establecer una Política nacional de educación ambiental, teniendo en cuenta el ámbito nacional e internacional.
                .list.align-items-start.mt-2.pl-4
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt
                        p.mb-0.mt-2 #[b Objetivos:] se establecen, entre otros, la promoción, la concertación, planeación, ejecución y evaluación conjunta, a nivel intersectorial e interinstitucional, de planes, programas, proyectos y estrategias de Educación Ambiental formales, no formales e informales, a nivel nacional, regional y local.
                .list.align-items-start.mt-2.pl-4
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt
                        p.mb-0.mt-2 #[b Lineamientos conceptuales básicos:] se establecen definiciones de aspectos a tratar y los diferentes principios que orientan la educación ambiental.
                .header-arrow
                    h3 Componentes del PGAR
                img(src="assets/images/pages/ilustraciones/img30.png").img-fluid.img-a
                p.txt-deco1 Para conocer e identificar los componentes de un Plan de Gestión Ambiental Regional, lo invitamos a consultar el PGAR de la Corporación Autónoma Regional del Valle del Cauca (CVC):
                .imgTopBar.mt-5
                    .row.align-items-center
                        .col-1.text-right
                            img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 28px;")
                        .col-8.mb-3.mb-md-0
                            p.p1.mb-0 Corporación Autónoma Regional del Valle del Cauca (CVC). 2015.
                            p.mb-0 Plan de Gestión Ambiental Regional 2015-2036.
                        .col-auto.imgTopBarButton.shadow
                            a(href="media/documentos/Anexo2.pdf", target="_blank").imgTopBar_link 
                                .row 
                                    .col-auto                   
                                        p.d-inline(style="margin-right:10px") Ver PDF
                .header-ecored.mt-6
                    h3 2.2.2 PGIRS
                img(src="assets/images/pages/ilustraciones/img31.png").img-fluid.img-a
                p.txt-deco1 El Decreto 2981 (2013) define el Plan de Gestión Integral de Residuos Sólidos como el instrumento de planeación municipal o regional que contiene un conjunto ordenado de objetivos, metas, programas, proyectos, actividades y recursos, definidos por uno o más entes territoriales para el manejo de los residuos sólidos, basado en la política de gestión integral de los mismos, el cual se ejecutará durante un período determinado, basándose en un diagnóstico inicial, en su proyección hacia el futuro y en un plan financiero viable que permita garantizar el mejoramiento continuo del manejo de residuos y la prestación del servicio de aseo a nivel municipal o regional, evaluado a través de la medición de resultados.
                p.mt-5.txt-deco2 #[b Componentes de un PGIRS]
                p.txt-deco1 De acuerdo con la resolución 0754 (2014), el PGIRS debe estar compuesto por:
                .row.justify-content-around
                    .col-5.p-4(style="border: solid 2px #707070;")
                        img(src="assets/images/pages/ilustraciones/img32.png" style="position: absolute; left: -45px; bottom: 38%;")
                        p.txt-deco1 #[b Organización para la formulación de los PGIRS:] grupo interdisciplinario con experiencia en los aspectos técnico-operativos, sociales, ambientales, legales, financieros y administrativos en la gestión integral de residuos sólidos y del servicio público de aseo.
                    .col-5.p-4(style="border: solid 2px #707070;")
                        img(src="assets/images/pages/ilustraciones/img33.png" style="position: absolute; left: -45px; bottom: 38%;")
                        p.txt-deco1 #[b Línea base:] sirve para establecer el estado actual de la gestión integral de residuos sólidos en el respectivo municipio, distrito o región.
                    .col-5.p-4(style="border: solid 2px #707070;").mt-5
                        img(src="assets/images/pages/ilustraciones/img34.png" style="position: absolute; left: -45px; bottom: 38%;")
                        p.txt-deco1 #[b Objetivos y metas:] como mínimo se espera que los objetivos propuestos permitan cumplir los principios básicos para la prestación del servicio público de aseo y la gestión integral de los residuos sólidos.
                    .col-5.p-4(style="border: solid 2px #707070;").mt-5
                        img(src="assets/images/pages/ilustraciones/img35.png" style="position: absolute; left: -45px; bottom: 38%;")
                        p.txt-deco1 #[b Programas y proyectos para la implementación del PGIRS:] alternativas de solución viable y sostenible, enfocadas en cada uno de los componentes del servicio, teniendo en cuenta los aspectos técnicos, operativos, ambientales, institucionales, económicos y financieros asociados.
                    .col-5.p-4(style="border: solid 2px #707070;").mt-5
                        img(src="assets/images/pages/ilustraciones/img36.png" style="position: absolute; left: -45px; bottom: 38%;")
                        p.txt-deco1 #[b Cronograma:] indica las actividades generales y específicas de cada proyecto, el tiempo en el que se llevará a cabo y el responsable de cada actividad general y específica.
                    .col-5.p-4(style="border: solid 2px #707070;").mt-5
                        img(src="assets/images/pages/ilustraciones/img37.png" style="position: absolute; left: -45px; bottom: 38%;")
                        p.txt-deco1 #[b Plan financiero:] es la guía para la asignación de recursos del municipio, distrito o región y garantizar la viabilidad de proyectos que se proponen.
                    .col-5.p-4(style="border: solid 2px #707070;").mt-5
                        img(src="assets/images/pages/ilustraciones/img38.png" style="position: absolute; left: -45px; bottom: 38%;")
                        p.txt-deco1 #[b Implementación, evaluación y seguimiento:] identificación de avances y dificultades en la implementación del PGIRS, junto con la definición de todas las medidas correctivas a las que haya lugar.
                    .col-5.p-4(style="border: solid 2px #707070;").mt-5
                        img(src="assets/images/pages/ilustraciones/img39.png" style="position: absolute; left: -45px; bottom: 38%;")
                        p.txt-deco1 #[b Revisión y actualización:] revisión realizada al inicio de cada periodo constitucional con el fin de realizar las mejoras técnicas correspondientes.
                p.txt-deco1.mt-5 Para conocer e identificar los componentes de un Plan de Gestión Integral de Residuos Sólidos, lo invitamos a consultar el PGIRS de la ciudad de Bucaramanga:
                .imgTopBar.mt-5
                    .row.align-items-center
                        .col-1.text-right
                            img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 28px;")
                        .col-8.mb-3.mb-md-0
                            p.p1.mb-0 Alcaldía de Bucaramanga  (2016).
                            p.mb-0 Plan de Gestión Integral de Residuos Sólidos 2016-2027.
                        .col-auto.imgTopBarButton.shadow
                            a(href="media/documentos/Anexo3.pdf", target="_blank").imgTopBar_link 
                                .row 
                                    .col-auto                   
                                        p.d-inline(style="margin-right:10px") Ver PDF
                .header-ecored.mt-6
                    h3 2.2.3 PAT
                img(src="assets/images/pages/ilustraciones/img40.png").img-fluid.img-a
                p.txt-deco1 El Plan Anual de Trabajo (PAT) es un documento de seguimiento a las actividades ambientales que se van a llevar a cabo durante el año en el que se planea. A través de este plan se puede evidenciar el cumplimiento o no de las actividades, los responsables y las evidencias que se generan al cumplir la acción. Para diseñar un plan de trabajo anual se recomienda:
                .row.justify-content-around
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #4463AA;")
                        p.text-white #[b 1. Establecer el programa al cual pertenece la actividad:] esto permite conocer el componente ambiental en el que se trabaja y el presupuesto del cual se obtendrán los recursos, por ejemplo, programa uso eficiente de ahorro de agua.
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #5571B1;")
                        p.text-white #[b 2. Alcance:] es la actividad que se va a realizar, se fija para evitar sobrecostos o demoras en la ejecución por la realización de actividades no contempladas. Un ejemplo del alcance es cuantificar periódicamente el consumo del recurso agua, con el fin de tomar medidas para asegurar la utilización racional.
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #6680BA;")
                        p.text-white #[b 3. Objetivo de control:] es la razón por la cual se realiza la actividad, es decir, qué se pretende con el alcance, ejemplo, monitorear y controlar el consumo del recurso hídrico.
                .row.justify-content-around
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #778EC1;")
                        p.text-white #[b 4. Metas:] es el resultado esperado, una vez se empiece a realizar la actividad propuesta, por ejemplo, disminuir el 5% del consumo de agua con respecto al consumo del año 2018.
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #0F3384;")
                        p.text-white #[b 5. Actividad:] es lo que debe realizar física o digitalmente para poder llevar a cabo los objetivos y las metas, por ejemplo, registrar el consumo mensual de agua en el formato FOR-BS-350- 068.
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #3C599B;")
                        p.text-white #[b 6. Acción:] es la generalidad de las actividades realizadas, por ejemplo, registro de información de consumo.
                .row.justify-content-around
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #61BD79;")
                        p.text-white #[b 7. Indicador:] es la fórmula mediante la cual se va a hacer el seguimiento del cumplimiento de las acciones del plan, por ejemplo, número de acciones ejecutadas / número de acciones programadas.
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #99D3AB;")
                        p.text-white #[b 8. Soportes:] evidencia física o digital de la realización de la acción, por ejemplo, formato de consumo de agua diligenciado mensualmente.
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #8ACD9D;")
                        p.text-white #[b 9. Recursos:] cualquier medio, ya sea humano, tecnológico o físico, para poder cumplir con las actividades propuestas, por ejemplo, profesional ambiental, computador o facturas.
                .row.justify-content-around
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #7BC791;")
                        p.text-white #[b 10. Responsable:] persona encargada de realizar la actividad propuesta, por ejemplo, profesional ambiental.
                    .col-12.col-lg-3.mt-4.p-4.rounded(style="background-color: #50A366;")
                        p.text-white #[b 11. Cronograma de actividades:] meses en los cuales se va a llevar a cabo la actividad, por ejemplo, de enero a diciembre.
                p.mt-5.txt-deco1 Para conocer e identificar los componentes de un Plan Anual de Trabajo, lo invitamos a consultar el PAT 2019 de la Superintendencia de Vigilancia y Seguridad privada (SuperVigilancia), donde se programan las actividades a desarrollar, de acuerdo al plan de gestión ambiental.
                .imgTopBar.mt-5
                    .row.align-items-center
                        .col-1.text-right
                            img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 28px;")
                        .col-8.mb-3.mb-md-0
                            p.p1.mb-0 Superintendencia de Vigilancia y Seguridad privada (SuperVigilancia) (2019).
                            p.mb-0 Plan de trabajo de gestión ambiental 2019.
                        .col-auto.imgTopBarButton.shadow
                            a(href="media/documentos/Anexo4.pdf", target="_blank").imgTopBar_link 
                                .row 
                                    .col-auto                   
                                        p.d-inline(style="margin-right:10px") Ver PDF
                .header-ecored.mt-6
                    h3 2.2.4 SIGAM
                img(src="assets/images/pages/ilustraciones/img41.png").img-fluid.img-a
                p.txt-deco1 Lo invitamos a ver a continuación un vídeo basado en la información de la Corporación Autónoma Regional (CAR), relacionada con los Sistemas de Gestión Ambiental (SIGAM).
                .row.justify-content-center.my-5
                    .col-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/X5lLbOHw2Rw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                p.txt-deco1 La Corporación Autónoma Regional (CAR), en su Escuela Virtual Ambiental (EVA), define el Sistema de Gestión Ambiental (SIGAM) como una propuesta organizacional para el adecuado funcionamiento de la administración municipal, para adelantar la gestión ambiental en su territorio, mantener la oferta ambiental y orientar los procesos culturales y sociales hacia la sostenibilidad.
                .row.mt-5.justify-content-center
                    .col-10.p-4.rounded(style="background-color: #6F8CCE;")
                        p.text-white.mb-0 #[b Objetivo del SIGAM:] es la realización de un proceso de análisis, conceptualización y propuesta técnica, orientado a desarrollar un modelo que guíe la Gestión Ambiental Municipal (GAM), para alcanzar la sostenibilidad ambiental, social y económica del municipio.
                    .col-10.mt-4.p-4.rounded(style="background-color: #5EBC77;")
                        p.text-white.mb-0 #[b Actores del SIGAM:] existen diferentes actores que se ven involucrados en el SIGAM, entre ellos los actores económicos, que representan la pequeña, mediana y gran industria, el comercio, las finanzas, el turismo, la venta de servicios, la actividad principal del municipio y asociaciones de gremios. Los actores sociales son representantes de interés colectivo, tales como habitantes urbanos y rurales, ONGs, grupos ambientales, madres comunitarias y juntas de acción comunal.
                p.mt-5.txt-deco1 
                p.txt-deco1 La adopción de un SIGAM se da mediante un acuerdo municipal donde se fijan los objetivos de la política y la gestión ambiental del municipio, se determina la dependencia responsable de la aplicación, se definen funciones ambientales, se definen las entidades que lo conforman y se reglamenta el Consejo ambiental municipal.
                p.txt-deco1 El Consejo ambiental municipal es el coordinador de la política ambiental del municipio. Está conformado por el alcalde y las secretarías, así como por diferentes invitados, tales como representantes de las corporaciones autónomas regionales, Ministerio de ambiente, alcaldías vecinas, entre otros.
                p.txt-deco1 Las funciones del Consejo ambiental municipal son varias, entre otras, deben:
                img(src="assets/images/pages/ilustraciones/img42.png").img-fluid.img-a
                p.txt-deco1 Para conocer e identificar los componentes de un sistema de gestión ambiental municipal, lo invitamos a consultar el acuerdo 067 de 2017, donde se ajusta el SIGAM de la ciudad de Medellín:
                .imgTopBar.mt-5
                    .row.align-items-center
                        .col-1.text-right
                            img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 28px;")
                        .col-8.mb-3.mb-md-0
                            p.p1.mb-0 Alcaldía de Medellín (2017).
                            p.mb-0 Acuerdo 067 Sistema de Gestión Ambiental Municipal de la ciudad de Medellín.
                        .col-auto.imgTopBarButton.shadow
                            a(href="media/documentos/Anexo5.pdf", target="_blank").imgTopBar_link 
                                .row 
                                    .col-auto                   
                                        p.d-inline(style="margin-right:10px") Ver PDF
                .header-ecored.mt-6
                    h3 2.2.5 PDA
                p.txt-deco1 De acuerdo con el programa “Agua y saneamiento para la prosperidad”, el Plan Departamental de Agua (PDA) del Vichada (2017), es un conjunto de estrategias de planeación y coordinación interinstitucional, formuladas y ejecutadas con el objeto de lograr la armonización integral de los recursos y la implementación de esquemas eficientes y sostenibles en la prestación de los servicios públicos domiciliarios de agua potable y saneamiento básico, teniendo en cuenta las características locales, la capacidad institucional de las entidades territoriales, las personas prestadoras de los servicios públicos y la implementación efectiva de esquemas de regionalización.
                img(src="assets/images/pages/ilustraciones/img43.png").img-fluid.img-a
                p.txt-deco1 El Decreto 2246 de 2012 establece dentro de los instrumentos de Planeación de los PAP-PDA, el Plan ambiental, el cual define el componente ambiental de los PAP-PDA, y tiene por objeto considerar en la planeación y ejecución de los proyectos de prestación de los servicios públicos de acueducto, alcantarillado y aseo, los requerimientos ambientales asociados a dichos proyectos, para garantizar su sostenibilidad.
                p.mt-5.txt-deco2 Participantes en el PDA
                p.txt-deco1 #[b Actores.] Son las entidades estatales participantes en la coordinación interinstitucional de los PDA:
                .list.align-items-star.pl-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1 El departamento.
                .list.align-items-star.pl-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1 Los municipios y/o distritos.
                .list.align-items-star.pl-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1 El Ministerio de Ambiente, Vivienda y Desarrollo Territorial (MAVDT).
                .list.align-items-star.pl-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1 El Departamento Nacional de Planeación (DNP).
                .list.align-items-star.pl-4
                    .list__item
                        .list__item__icon
                            img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                    .list__txt
                        p.txt-deco1 Las autoridades ambientales con jurisdicción en los municipios ubicados en el territorio del respectivo departamento.
                p.mt-5.txt-deco1 #[b Vinculados.] Podrán tener la condición de vinculados al PDA, previa aprobación del Comité Directivo, las personas jurídicas de derecho público, privado o mixto, mediante el aporte de recursos financieros, técnicos o humanos.
                p.mt-5.txt-deco1 #[b Estructuras operativas.] Igualmente hacen parte de los PDA, las siguientes estructuras operativas:
                p.text-center.my-5 #[span.txt-deco3 El comité directivo] #[span.txt-deco3 El gestor] #[span.txt-deco3 La gerencia asesora] #[span.txt-deco3 El esquema fiduciario para el manejo de los recurso]
                p.txt-deco1 Para conocer e identificar los componentes de un Plan Departamental de Agua, lo invitamos a consultar el PDA del departamento de Vichada 2017-2019:
                .imgTopBar.mt-5
                    .row.align-items-center
                        .col-1.text-right
                            img(src="assets/images/pages/icons/icon_pdf.svg", alt="", style="max-width: 28px;")
                        .col-8.mb-3.mb-md-0
                            p.p1.mb-0 Departamento de Vichada (2016).
                            p.mb-0 Programa Agua y Saneamiento para la Prosperidad - Plan Departamental para el Manejo Empresarial de los Servicios de Agua y Saneamiento PAP-PDA.
                        .col-auto.imgTopBarButton.shadow
                            a(href="media/documentos/Anexo6.pdf", target="_blank").imgTopBar_link 
                                .row 
                                    .col-auto                   
                                        p.d-inline(style="margin-right:10px") Ver PDF
                p.txt-deco1.mt-5 Estimado aprendiz, lo invitamos a ver el siguiente vídeo, relacionado con la información de la Secretaría Distrital de Planeación (SDP) de la ciudad de Bogotá, acerca de su Plan de Ordenamiento Territorial (POT).
                .row.justify-content-center.mt-5.mb-6
                    .col-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/w-tZGRwnJy0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .header-ecored.mt-6
                    h3 2.2.6 POT
                img(src="assets/images/pages/ilustraciones/img44.png").img-fluid.img-a
                p.txt-deco1 De acuerdo con la Secretaría Distrital de Planeación (SDP) de la ciudad de Bogotá, el Plan de Ordenamiento Territorial (POT) es el instrumento básico, definido en la Ley 388 de 1997, para que los municipios y distritos del país planifiquen el ordenamiento del territorio urbano y rural.
                p.txt-deco1 El POT contiene un conjunto de objetivos, políticas, estrategias, metas, normas, programas y proyectos que orientan el desarrollo físico del territorio. En él se define la estrategia de cómo puede la ciudad hacer uso del suelo, en qué condiciones se puede localizar la vivienda, las actividades productivas, culturales y de esparcimiento. También define los perímetros de las zonas que se encuentran clasificadas como áreas protegidas.
                #accordionExample.accordion.py-5
                    .card
                        #heading1.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1')
                                    h2.mb-0.collapsable-title 2.2.6.1 Función del POT
                        #collapse1.collapse.show(aria-labelledby='heading1', data-parent='#accordionExample')
                            .card-body
                                .row
                                    .col-12
                                        p.txt-deco1 El POT orienta y prioriza las decisiones e intervenciones generales que debe hacer la administración distrital, que permiten el desarrollo y mejoramiento de los parques, los andenes, las ciclorrutas, los centros de atención a la población, las vías, los servicios públicos y los equipamientos; por eso es importante conocerlo, para que en los planes de desarrollo de cada una de las administraciones que lleguen, le den continuidad a los proyectos estratégicos.
                                        p.txt-deco1 También prevé las posibilidades de desarrollo de programas conjuntos entre el sector público y privado.
                    .card
                        #heading2.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2')
                                    h2.mb-0.collapsable-title 2.2.6.2 Objetivo del POT
                        #collapse2.collapse(aria-labelledby='heading2', data-parent='#accordionExample')
                            .card-body
                                .row.justify-content-center
                                    .col-12
                                        p.txt-deco1 El objetivo principal del POT se centra en mejorar la calidad de vida de los habitantes, mediante acceso a las oportunidades y beneficios que ofrece el desarrollo de la ciudad, así como también el desarrollo de equipamientos para los servicios sociales, la utilización racional del suelo, la sostenibilidad ambiental, la seguridad de la población ante riesgos naturales y la preservación del patrimonio.
                    .card
                        #heading3.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='true', aria-controls='collapse3')
                                    h2.mb-0.collapsable-title 2.2.6.3 La importancia del POT
                        #collapse3.collapse(aria-labelledby='heading3', data-parent='#accordionExample')
                            .card-body
                                .row.justify-content-center
                                    .col-12
                                        p.txt-deco1 Es el orientador de las decisiones que toman los alcaldes; la planificación del territorio sirve como soporte para gestionar los recursos adicionales de financiación ante las entidades del Estado, que permiten la ejecución de proyectos e infraestructuras.
                                        p.txt-deco1 Permite un uso racional del suelo, condiciones para el reparto equitativo de cargas y beneficios, relación equilibrada con el medio ambiente, preservación del patrimonio cultural, fortalecimiento de los agentes que influyen en el mejoramiento de la calidad de vida y la generación de recursos propios.
                    .card
                        #heading4.card-header
                            h2.mb-0
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='true', aria-controls='collapse4')
                                    h2.mb-0.collapsable-title 2.2.6.4 Ordenamiento del territorio
                        #collapse4.collapse(aria-labelledby='heading4', data-parent='#accordionExample')
                            .card-body
                                .row.justify-content-center
                                    .col-12
                                        p.txt-deco1 Es un proceso por medio del cual se orienta el desarrollo del territorio y se encuentra fundamentado en tres principios, de acuerdo con la Ley 388 de 1997, así:
                                        .list.align-items-star.pl-4.mt-4
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 La función social y ecológica del territorio.
                                        .list.align-items-star.pl-4
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 La prevalencia del interés general sobre el particular.
                                        .list.align-items-star.pl-4
                                            .list__item
                                                .list__item__icon
                                                    img.img-a1(src="assets/images/pages/icons/icon_list2.svg").img-fluid  
                                            .list__txt
                                                p.txt-deco1 La distribución equitativa de las cargas y los beneficios, con base en estrategias de desarrollo socioeconómico y en armonía con el medio ambiente, que se ajustan a una imagen objetivo que es fijada previamente con el consenso de la comunidad.
                p.txt-deco1 Lo invitamos a conocer los diferentes tomos del Plan de Ordenamiento Territorial (POT) de la ciudad de Bogotá para el año 2020.
                .imgTopBar.mt-5
                    .row.align-items-center
                        .col-1.text-right
                            img(src="assets/images/pages/icons/icon_www.svg", alt="", style="max-width: 48px;")
                        .col-8.mb-3.mb-md-0
                            p.p1.mb-0 Secretaría de Planeación Distrital (SDA) de Bogotá. 2020.
                            p.mb-0 Plan de Ordenamiento Territorial.
                        .col-auto.imgTopBarButton.shadow
                            a(href="http://www.sdp.gov.co/micrositios/pot/documentos", target="_blank").imgTopBar_link 
                                .row 
                                    .col-auto                   
                                        p.d-inline(style="margin-right:10px") Ver página
                .header-ecored.mt-6
                    h3 2.2.7 PGIRHS
                p.txt-deco1 De acuerdo con la resolución 1164 (2002) el Plan de Gestión Integral de Residuos Hospitalarios y similares (PGIRH) es el documento diseñado por los generadores, los prestadores del servicio de desactivación y especial de aseo, el cual contiene, de una manera organizada y coherente, las actividades necesarias que garantizan la Gestión Integral de los Residuos Hospitalarios.
                p.txt-deco1 Los generadores, prestadores del servicio de desactivación y  prestadores del servicio especial de aseo de residuos hospitalarios y similares, diseñarán e implementarán el PGIRH de acuerdo con las actividades que desarrollen, teniendo como punto de partida su compromiso institucional de carácter  sanitario y  ambiental, el cual debe ser real, claro, con propuestas de mejoramiento continuo de los procesos y orientado a la minimización de riesgos para la salud y el medio ambiente.
                img(src="assets/images/pages/ilustraciones/img45.png").img-fluid.img-a
                p.txt-deco1 El compromiso debe responder claramente a las preguntas qué, cómo, cuándo, dónde, por qué, para qué y con quién. 
                p.txt-deco1 La planeación se inicia con el diagnóstico del establecimiento generador, para identificar los aspectos que no presentan conformidad con la normatividad ambiental y sanitaria vigente y establecer de esta manera los ajustes y medidas  correctivas pertinentes. 
                p.txt-deco1 El Plan para la gestión integral de residuos hospitalarios y  similares debe enfocarse a diseñar e implementar buenas prácticas de gestión, orientadas a la prevención de los efectos perjudiciales para la salud y el ambiente, por el inadecuado manejo de los residuos, al igual que al mejoramiento en la gestión. 
                p.txt-deco1 La gestión debe orientarse a minimizar la generación de residuos, mediante la utilización de insumos y procedimientos con menos aportes a la corriente de residuos y una adecuada segregación para minimizar la cantidad de residuos  peligrosos. Además de lo anterior, se realizará el aprovechamiento cuando sea técnica, ambiental y sanitariamente viable. 
                p.txt-deco1 El Plan para la Gestión Integral de Residuos Hospitalarios y Similares ­ PGIRH, se estructurará con base en dos componentes generales: componente gestión interna y componente gestión externa.
                .row.justify-content-around.mt-5
                    .col-12.col-lg-5
                        .card
                            img(src="assets/images/pages/ilustraciones/img46.png")
                            .card-body
                                p.txt-deco1 #[b Gestión interna:] la gestión interna consiste en la planeación e implementación articulada de todas  y cada una de las actividades realizadas en el interior de la entidad generadora de residuos hospitalarios y  similares, incluyendo las  actividades de generación, segregación en la fuente, desactivación, movimiento interno, almacenamiento y entrega de los residuos al prestador del servicio especial de aseo, sustentándose en criterios técnicos, económicos, sanitarios y  ambientales; asignando recursos, responsabilidades y garantizando, mediante un programa de vigilancia y control, el cumplimiento del plan. 
                    .col-12.col-lg-5
                        .card
                            img(src="assets/images/pages/ilustraciones/img47.png")
                            .card-body
                                p.txt-deco1 #[b Gestión externa:] es el conjunto de operaciones y actividades de la gestión de residuos, que por lo general se realizan por fuera del establecimiento del generador,  como la recolección, el aprovechamiento, el tratamiento y la disposición final. No obstante lo anterior, el tratamiento será parte de la gestión interna cuando sea realizado en el establecimiento del generador. La gestión externa de residuos hospitalarios y similares puede ser realizada por el mismo generador, o ser contratada a través  de una empresa prestadora del servicio público especial de aseo, y en cualquier  caso, se deben cumplir  las  normas y procedimientos establecidos en la legislación ambiental y  sanitaria vigente.
                .header-ecored.mt-6
                    h3 2.2.8 PRAE
                img(src="assets/images/pages/ilustraciones/img48.png").img-fluid.img-a
                p.txt-deco1 Acorde con las directrices del Ministerio de Ambiente, el Ministerio de Educación Nacional y la Política Nacional de Educación Ambiental (PNEA) (2002), los Proyectos Ambientales Escolares (PRAE) son proyectos pedagógicos que promueven el análisis y la comprensión de los problemas y las potencialidades ambientales locales, regionales y nacionales, y generan espacios de participación para implementar soluciones acordes con las dinámicas naturales y socioculturales.
                p.txt-deco1 La óptica de su quehacer es la formación desde una concepción de desarrollo sostenible, entendido como el aprovechamiento de los recursos en el presente, sin desmedro de su utilización por las generaciones futuras, con referentes espaciotemporales y sobre la base del respeto a la diversidad y a la autonomía y que contempla, no sólo aspectos económicos sino sociales, culturales, políticos, éticos y estéticos, en pro de una gestión sostenible del entorno.
                .row.align-items-center.mt-4
                    .col-6.text-center
                        img(src="assets/images/pages/ilustraciones/img49.png").img-fluid
                    .col-6
                        p.txt-deco1 Los Ministerios de Educación Nacional y de Ambiente, Vivienda y Desarrollo Territorial adelantan estrategias para la inclusión de la dimensión ambiental en la educación formal a partir de las políticas nacionales educativa y ambiental, y la formación de una cultura ética en el manejo del ambiente, mediante la definición y puesta en marcha de los Proyectos Ambientales Escolares (PRAE).  
                        p.txt-deco1 De acuerdo con la Corporación Autónoma Regional del Tolima, la inclusión de la dimensión ambiental en el currículo, a partir de proyectos y actividades específicas y no por medio de una cátedra, permite integrar las diversas áreas del conocimiento para el manejo de un universo conceptual aplicado a la solución de problemas.
                .row.align-items-center.mt-4
                    .col-6
                        p.txt-deco1 Así mismo, permite explorar cuál es la participación de cada una de las disciplinas en un trabajo interdisciplinario y transdisciplinario, para hacer posible la formación en la ciencia, la técnica y la tecnología desde un marco social, que sirva como referente de identidad del individuo y genere un compromiso con él mismo y con la comunidad.
                        p.txt-deco1 Los Proyectos Ambientales Escolares (PRAE) se pueden plantear desde una unidad programática (los Proyectos Institucionales Educativos), desde un tema y desde un problema. Lo fundamental es que sean interdisciplinarios y busquen la integración, con el ánimo de que su proyección tenga incidencia directa en la formación integral de los estudiantes y los prepare para actuar, consciente y responsablemente, en el manejo de su entorno.
                        p.txt-deco1 De acuerdo con este criterio, los proyectos escolares en educación ambiental deben estar involucrados en la problemática ambiental local, regional y nacional, y deben concertarse con las entidades que de una u otra manera estén comprometidas en la búsqueda de soluciones.
                    .col-6.text-center
                        img(src="assets/images/pages/ilustraciones/img50.png").img-fluid
                .header-ecored.mt-6
                    h3 2.2.9 PRAU
                img(src="assets/images/pages/ilustraciones/img51.png").img-fluid.img-a
                p.txt-deco1 De acuerdo con el Observatorio Ambiental de Bogotá, los Proyectos Ambientales Universitarios (PRAU), contemplados en la Política Nacional de Educación Ambiental, en la estrategia “dimensión ambiental en la educación formal”, proponen involucrar la dimensión ambiental en el currículo de la educación superior (programas de formación inicial y de especialización de profesionales, proyecto de investigación en ambiente y en educación ambiental y servicio social obligatorio para profesionales).
                p.txt-deco1 Es así que para la implementación de los Proyectos Ambientales Universitarios (PRAU) se deben involucrar dinámicas ambientales locales y distritales en los procesos de educación impartidos desde los diferentes programas académicos de las universidades.