.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Actores:
            | personas que intervienen activa o pasivamente en los procesos de gestión para su propio desarrollo o que asisten al proceso. Abarca los habitantes, los usuarios (habitantes o no de un ámbito), los representantes de organismos públicos o privados, los asesores o interventores en el ámbito, los representantes de los grupos de poder, los empresarios, los sindicatos y, en general, todas las personas que vean afectada su calidad de vida y que influyen o reciben los efectos de uso y conservación de los recursos del ámbito en estudio, así como los que tienen como función apoyar el desarrollo del hombre en dichos ámbitos (Corporación Autónoma Regional del Quindío (CRQ), s.f.).
        p
            strong.mr-2 Ambiente:
            | región, alrededores y circunstancias en las que se encuentra un ser u objeto. El ambiente de un individuo comprende dos tipos de constituyentes: 1. El medio puramente físico o abiótico, en el cual él existe (aire, agua) y 2. El componente biótico, que comprende la materia orgánica no viviente y todos los organismos, plantas y animales de la región, incluida la población específica a la que pertenece el organismo (CRQ, s.f.).
        p 
            strong.mr-2 Calidad ambiental:
            | los atributos mensurables de un producto o proceso que indican su contribución a la salud e integridad ecológica. Estado físico, biológico y ecológico de un área o zona determinada de la biosfera, en términos relativos a su unidad y a la salud presente y futura del hombre y las demás especies animales y vegetales (CRQ, s.f.).
        p 
            strong.mr-2 Calidad de vida:
            | vínculo dinámico entre el individuo y el ambiente en donde la satisfacción de necesidades implica la participación continua y creativa del sujeto en la transformación de la realidad (CRQ, s.f.).
        p 
            strong.mr-2 Comunidad:
            | conjunto de seres vivos que pueblan un territorio determinado, caracterizado por las interrelaciones que estos organismos tienen entre sí y con su entorno. Grupo integrado de especies que habitan en determinada zona; los organismos de determinada comunidad se influyen mutuamente en materia de distribución, abundancia y evolución. (Una comunidad humana es un grupo social de cualquier tamaño, cuyos miembros viven en determinada localidad) (CRQ, s.f.).
        p 
            strong.mr-2 Contaminación:
            | liberación de sustancias que de manera directa o indirecta, causan efectos adversos sobre el medio ambiente y los seres vivos. Existencia en el ambiente de contaminantes o agentes tóxicos o infecciosos que entorpecen o perjudican la vida, la salud y el bienestar del hombre, la fauna y la flora; que degradan la calidad del ambiente y en general, el equilibrio ecológico y los bienes particulares y públicos (CRQ, s.f.).
        p 
            strong.mr-2 Organizaciones o movimientos de base:
            |  personas o sociedades que actúan a nivel local y no en el centro de las actividades políticas a gran escala (CRQ, s.f.).
        p 
            strong.mr-2 Población:
            | grupo de individuos con un ancestro común, que tienden, en mucha mayor medida, a formar parejas entre sí, más bien que con individuos de otro grupo del mismo género (CRQ, s.f.).