.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Soliz, F. y Maldonado, A. (2012). Guía de metodologías comunitarias participativas.
                    td Pdf
                    td 
                        a(href="http://repositorio.uasb.edu.ec/bitstream/10644/3997/1/Soliz,%20F-CON008-Guia5.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ministerio del Medio Ambiente (MMA) y Ministerio de Educación Nacional (MEN). (2002). Política Nacional de Educación Ambiental (SINA).
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1kg0rLJhOf_1GI4fgfnT76OLT8dsb3Syy/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Corporación Autónoma Regional del Valle del Cauca (CVC). 2015. Plan de Gestión Ambiental Regional 2015-2036.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1XqUFg1-1VO9ZIZ0WRR-v00Cf2WkKYX-l/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Alcaldía de Bucaramanga  (2016). Plan de Gestión Integral de Residuos Sólidos 2016-2027.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1Vxv6ouwnyNTcQUFvqgdcdNp_xgS1iedr/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Superintendencia de Vigilancia y seguridad privada (SuperVigilancia) (2019). Plan de trabajo de gestión ambiental 2019.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1hNoBfQq6xaiItZIwUYXJbLAFW6JHGch7/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Alcaldía de Medellín (2017). Acuerdo 067 Sistema de Gestión Ambiental Municipal de la ciudad de Medellín.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1n7z8WKxNNekhYb_FHyLOknHz0_Rhh1SQ/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Departamento de Vichada (2016). Programa Agua y Saneamiento para la Prosperidad - Plan Departamental para el Manejo Empresarial de los Servicios de Agua y Saneamiento PAP-PDA.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1jhg8NT-KZKcgY72f6kqovNhpmCO6FXMT/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Secretaría de Planeación Distrital (SDA) de Bogotá. (2020). Plan de Ordenamiento Territorial.
                    td Pdf
                    td 
                        a(href="http://www.sdp.gov.co/micrositios/pot/documentos", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo infografía principios de la educación ambiental.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/12A4kxm96K7ZBwKdOjSrJgjKeZ5ryEF_R/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo infografía objetivos de la educación ambiental.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1xu1kNqPhD5aVMTGe1dlVUwps7flcVW3r/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo infografía ejes de la educación ambiental.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1UX2Sv6VQUZpxBwciBkExaZTX4djgLh9u/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo metodologías de investigación.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1YVSi9wjWUKYzfeMk1HQg7vu_GnrhfVzD/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo técnicas y habilidades comunitarias.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1VJrMYKMyxNVUSqpmEsg02smPvYqJA98O/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo formulación de un plan de acción participativa.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1y-3FWI8Mt1aNWEzgggbH9NoKqdVX1bTV/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo tablas normativas.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/184jIVbuYCmPk2EXvu2_HoKEG4MmM2mT6/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo planes, programas y proyectos institucionales.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1a92fMnN52I4MTT2nMTBd0BMbfeYiL0N_/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo infografía animada.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1DbsKOBNc36tNxWTtBZI4j11kSIDI3AiN/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Infografía metodologías.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/11H1lC9vXBAE9MmxiLzYoTrqsv5JGjfJF/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ejemplo esquema DAP.
                    td Pdf
                    td 
                        a(href="https://drive.google.com/file/d/1Vb-vpAdiq0081i95iQ7culu6us-DJZfI/view?usp=sharing", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar